{% extends 'index.html' %}

{% block content %}
    <h1>SỔ TAY NHẬN DIỆN</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="static/images/disease1.jpg" class="card-img-top" alt="Bệnh 1">
                <div class="card-body">
                    <h5 class="card-title">Bệnh đốm đen</h5>
                    <p class="card-text">Triệu chứng: Các đốm đen trên lá.</p>
                    <a href="#" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="static/images/disease2.jpg" class="card-img-top" alt="Bệnh 2">
                <div class="card-body">
                    <h5 class="card-title">Bệnh phấn trắng</h5>
                    <p class="card-text">Triệu chứng: Phấn trắng trên bề mặt lá.</p>
                    <a href="#" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="static/images/disease3.jpg" class="card-img-top" alt="Bệnh 3">
                <div class="card-body">
                    <h5 class="card-title">Bệnh gỉ sắt</h5>
                    <p class="card-text">Triệu chứng: Đốm vàng dưới mặt lá.</p>
                    <a href="#" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
